<mat-toolbar>
  <button mat-icon-button tdLayoutManageListToggle>
    <mat-icon>menu</mat-icon>
  </button>
  Finance Center
</mat-toolbar>

<mat-card class="push-sm pad-sm">
  <div class="pad-xs push-top-sm push-bottom-sm bgc-grey-200">Filter</div>
  <div layout="row" layout-align="start center" layout-margin>
    <md2-datepicker type="month" format="MM/y" [(ngModel)]="date"
                    [ngModelOptions]="{standalone: true}" placeholder="Lesson End"
                    flex=22 touchUi="true" openOnFocus></md2-datepicker>
    <mat-form-field flex=22>
      <input matInput type="text" placeholder="Teacher's name" [(ngModel)]="name"/>
    </mat-form-field>
    <div layout="row" layout-wrap layout-align="space-between center" flex=22>
      <button type="button" (click)="query()" matTooltip="Filter" matTooltipPosition="after" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <mat-icon *ngIf="isShowReset" matTooltip="Reset" matTooltipPosition="after" color="accent"
                style="cursor: pointer;" (click)="reset()">autorenew
      </mat-icon>
    </div>
  </div>
  <div class="pad-xs push-top-sm push-bottom-sm bgc-grey-200">List</div>
  <div layout="row" layout-align="space-between center">
    <div>
      <button mat-raised-button color="accent" [disabled]="!(selectData.length > 0)" (click)="completeAll()">Completed</button>
      <button mat-raised-button color="accent" (click)="export()">Export to Excel</button>
      <span class="push-left-sm">Currency: USD</span>
    </div>

    <span>{{ showDate }}</span>
    <div>
      <button mat-icon-button color="accent" (click)="updateMonth('pre')">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="updateMonth('next')">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <td-data-table #dataTable [columns]="columns" [data]="filteredData" [selectable]="true" (selectAll)="selectAllEvent($event)"
                 (rowSelect)="selectEvent($event)">
    <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
      <span class="table-span-btn push-right-sm" (click)="complete(row)" *ngIf="row.status === 20">Completed</span>
      <span class="table-span-btn push-right-sm" (click)="openInsertDialog(row)" *ngIf="row.status === 10">insert</span>
      <span class="table-span-btn" [routerLink]="['log', row.feeNum]" tdLayoutManageListClose>log</span>
    </ng-template>
  </td-data-table>
  <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-wrap layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="pageChange($event)">
    <span td-paging-bar-label hide-xs>Row per page: </span>
    <mat-form-field>
      <mat-select [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [2,30,100,200,500,1000]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{pagingBar.range}}
        <span hide-xs>of {{pagingBar.total}}</span>
      </span>
  </td-paging-bar>

</mat-card>
