<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AudioTool.Properties.Settings>
            <setting name="ApiHost" serializeAs="String">
                <value>http://10.10.100.150:8000</value>
            </setting>
            <setting name="AudacityPath" serializeAs="String">
                <value>D:\Program Files\Audacity\Audacity.exe</value>
            </setting>
            <setting name="AudioGap" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>%USERPROFILE%\Music</value>
            </setting>
        </AudioTool.Properties.Settings>
    </userSettings>
</configuration>