@keyframes uptobottom {
    0%{top: -420px;}
    100%{top: 10px;}
}
@keyframes smalltobig {
    0%{
        transform: scale(0,0);
    }
    75%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(0.5,0.5); 
        background-color: orangered;
        border-radius: 50px;
    }
}
/*******************************/
div {
    position: relative; 
    width: 400px;
    height: 300px;
    border: 2px solid black ;
}
div ul li {
    padding: 40px;
    display: inline-block;
    
}
/*******************************/
.active {
    animation: uptobottom 2s;
}
/*******************************/
li:nth-child(1) {
     animation: smalltobig 300ms linear 2100ms;
     animation-fill-mode: forwards;
}
li:nth-child(2) {
     animation: smalltobig 300ms linear 2300ms;
     animation-fill-mode: forwards;
}
li:nth-child(3) {
     animation: smalltobig 300ms linear 2500ms;
     animation-fill-mode: forwards;
}
li:nth-child(4) {
     animation: smalltobig 300ms linear 2700ms;
     animation-fill-mode: forwards;
}
li:nth-child(5) {
     animation: smalltobig 300ms linear 2900ms;
     animation-fill-mode: forwards;
}
li:nth-child(6) {
     animation: smalltobig 300ms linear 3100ms;
     animation-fill-mode: forwards;
}
li:nth-child(7) {
     animation: smalltobig 300ms linear 3300ms;
     animation-fill-mode: forwards;
}
li:nth-child(8) {
     animation: smalltobig 300ms linear 3500ms;
     animation-fill-mode: forwards;
}
li:nth-child(9) {
     animation: smalltobig 300ms linear 3700ms;
     animation-fill-mode: forwards;
}
li:nth-child(10) {
     animation: smalltobig 300ms linear 3900ms;
     animation-fill-mode: forwards;
}
li:nth-child(11) {
     animation: smalltobig 300ms linear 4100ms;
     animation-fill-mode: forwards;
}
li:nth-child(12) {
     animation: smalltobig 300ms linear 4300ms;
     animation-fill-mode: forwards;
}
