---
tags: page
link: /swiperjs2
layout: layout.njk
site_title: swiperjs2
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@6.3.5/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@6.3.5/swiper-bundle.min.js"></script>

<style>
.swiper-slide {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-algin: center;
}
.border {
	border: 1px solid;
}
</style>
<div class="border swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
	</div>
</div>


<script>
var mySwiper = new Swiper('.swiper-container', {
    speed: 400,
    spaceBetween: 100,
	loop: true
});
</script>
