<mat-card class="push-sm pad-sm">
  <div>
    <button mat-raised-button color="accent" (click)="openCreateTrackRecordDialog()">新建跟进</button>
  </div>

  <td-data-table #dataTable [columns]="columns" [data]="filteredData">
    <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
      <mat-icon color="accent" class="hover-pointer" (click)="openShowDetailDialog(row)">create</mat-icon>
    </ng-template>
  </td-data-table>
  <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-wrap layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="pageChange($event)">
    <span td-paging-bar-label hide-xs>Row per page: </span>
    <mat-form-field>
      <mat-select [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [2, 30,100,200,500,1000]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{pagingBar.range}}
        <span hide-xs>of {{pagingBar.total}}</span>
      </span>
  </td-paging-bar>
</mat-card>
