//
   Created by Goze on 2016/9/10.
html
    head
        title 嘻嘻
    body
        #box
            ul
                li 我是新闻
                li 我是新闻
                li 我是新闻
                li 我是新闻
        #side
