<td-layout>

      <td-layout-manage-list opened="true" mode="side">
        <div td-sidenav-content>
          <mat-nav-list td-sidenav-content>
            <a mat-list-item mat-ripple class="block relative" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="['import']">
              <mat-icon mat-list-icon>insert_chart</mat-icon>
              用户批量导入
            </a>
            <a mat-list-item mat-ripple class="block relative" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="['add','user-info']">
              <mat-icon mat-list-icon>school</mat-icon>
              用户添加
            </a>
          </mat-nav-list>
        </div>
        <router-outlet></router-outlet>
      </td-layout-manage-list>

    </td-layout>
