<mat-toolbar>
  <button mat-icon-button tdLayoutManageListToggle>
    <mat-icon>menu</mat-icon>
  </button> 退班列表
</mat-toolbar>
<mat-card class="push-sm pad-sm">
  <div layout="row" layout-align="space-between center" layout-margin>
    <mat-form-field flex="22">
      <mat-select placeholder="是否特殊退班" (change)="filter()" [(ngModel)]="ifSpecial">
        <mat-option >所有</mat-option>
        <mat-option value="10">是</mat-option>
        <mat-option value="20">否</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field flex="22">
      <mat-select placeholder="审核状态" (change)="filter()" [(ngModel)]="reviewState">
        <mat-option >所有</mat-option>
        <mat-option value="10">待审核</mat-option>
        <mat-option value="20">通过</mat-option>
        <mat-option value="30">驳回</mat-option>
      </mat-select>
    </mat-form-field>
    <td-search-input flex="22" placeholder="搜索家长手机号" (searchDebounce)="searchNum($event)" showUnderline="true"></td-search-input>
    <td-search-input flex="22" placeholder="退班班级编号" (searchDebounce)="searchCode($event)" showUnderline="true"></td-search-input>
  </div>
  <td-data-table #dataTable [columns]="columns" [data]="filteredData">
    <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
      <span class="table-span-btn" [routerLink]="['detail', value]" tdLayoutManageListClose>详情</span>
      </ng-template>
  </td-data-table>
  <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-wrap layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="pageChange($event)">
    <span td-paging-bar-label hide-xs>Row per page: </span>
    <mat-form-field>
      <mat-select [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [2, 30,100,200,500,1000]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{pagingBar.range}}
        <span hide-xs>of {{pagingBar.total}}</span>
      </span>
  </td-paging-bar>
</mat-card>
