<mat-card class="push-sm pad-sm">
  <td-data-table #dataTable [columns]="columns" [data]="filteredData">
    <ng-template tdDataTableTemplate="classId" let-value="value" let-row="row" let-column="column">
      <div *ngIf="row.changeStateName !== '待退班'">
        <span class="table-span-btn" (click)="openDialog(row, 'changeClass')">转班</span>
        <span class="table-span-btn push-left-sm push-right-sm" (click)="openDialog(row, 'retirement')">退班</span>
        <span *ngIf="row.ifSpecialTransfer" class="table-span-btn" (click)="openDialog(row, 'specialChangeClass')">特转</span>
      </div>
    </ng-template>
  </td-data-table>
  <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-wrap layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="pageChange($event)">
    <span td-paging-bar-label hide-xs>Row per page: </span>
    <mat-form-field>
      <mat-select [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [2, 30,100,200,500,1000]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{pagingBar.range}}
      <span hide-xs>of {{pagingBar.total}}</span>
    </span>
  </td-paging-bar>
</mat-card>
