.control-icon {
    position: absolute;
    left: 20px;
    top: 16px;
    color: #fff;
    background: #22232d;
    cursor: pointer;
    z-index: 1;
    transition: all .4s ease;
}
.cog {
    padding: 12px;
    border-radius: 22px;
    line-height: 19px;
    text-align: center;
}

.chevron-left {
    padding: 8px;
    border-radius: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}