<td-layout>

  <td-layout-manage-list opened="true" mode="side">
    <div td-sidenav-content>
      <mat-nav-list td-sidenav-content>
        <a mat-list-item mat-ripple class="block relative" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['class_time']">
          <mat-icon mat-list-icon>view_quilt</mat-icon>
          上课时间管理
        </a>
        <a mat-list-item mat-ripple class="block relative" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['list']">
          <mat-icon mat-list-icon>assignment</mat-icon>
          班级列表
        </a>
        <a mat-list-item mat-ripple class="block relative" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['template']">
          <mat-icon mat-list-icon>school</mat-icon>
          模版列表
        </a>
      </mat-nav-list>
    </div>
    <router-outlet></router-outlet>
  </td-layout-manage-list>

</td-layout>
